@font-face {
  font-family: "Helvetica-light";
  src: url("../font/helvetica-light-587ebe5a59211.ttf");
}

@font-face {
  font-family: "Helvetica-reg";
  src: url("../font/Helvetica.ttf");
}
@font-face {
  font-family: "Helvetica-med";
  src: url("../font/helvetica_condensed.ttf");
}
@font-face {
  font-family: "manrope-semibold";
  src: url("../font/Manrope-SemiBold.ttf");
}
@font-face {
  font-family: "Helvetica-bold";
  src: url("../font/Helvetica-Bold.ttf");
}

:root {
  --size-24: 24px;
  --size-20: 20px;
  --size-18: 18px;
  --font-family-bold: "Helvetica-bold";
  --font-family-med: "Helvetica-med";
  --font-family-reg: "Helvetica-reg";
  --font-family-light: "Helvetica-light";
}
body {
  width: 1440px;
  margin: auto;
}
header {
  border-bottom: 1px solid black;
}
nav {
  padding: 31px 0px 44px 0px;
  width: 1270px;
  margin: auto;
  display: flex;
  gap: 111px;
  align-items: center;
}
nav div a {
  color: black;
  font-family: var(--font-family-med);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--size-18);
}
nav div ul li {
  color: black;
  font-family: var(--font-family-med);
  cursor: pointer;
  font-size: var(--size-18);
}

nav div ul {
  display: flex;
  gap: 40px;
}
.logo-nav {
  font-family: var(--font-family-bold);
  font-size: 30px;
  cursor: pointer;
  margin-right: 270px;
}
.green-title {
  cursor: pointer;
  font-family: "manrope-semibold";
  color: #36794f;
}
.plant-pic {
  position: absolute;
  left: 345px;
  top: 0px;
}
.home-p-h1-buttons {
  width: 442px;
  margin-left: 694px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.home-p-h1-buttons h1 {
  font-size: 44px;
  font-family: var(--font-family-bold);
  line-height: 54px;
  text-align: left;
}
.home-p-h1-buttons p {
  margin-top: 30px;
  font-family: var(--font-family-reg);
  font-size: var(--size-20);
  line-height: 30px;
  text-align: left;
}
.home-p-h1-buttons button {
  cursor: pointer;
  border: none;
  font-family: var(--font-family-bold);
  font-size: 18px;
  line-height: 22px;
  text-align: left;
  border-radius: 10px;
  color: aliceblue;
  background-color: #01601b;
  margin-top: 50px;
  margin-right: 25px;
  padding: 15px 52px 15px 52px;
}

.head-icons-text {
  position: relative;
}
.icons-head {
  cursor: pointer;
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: flex-end;
  left: 1235px;
  top: 236px;
}
.home-cards-title {
  color: black;
  margin-top: 375px;
  margin-bottom: 20px;
  font-family: var(--font-family-med);
  font-size: 36px;
  line-height: 44px;
}
.home-cards {
  display: grid;
  grid-template-columns: auto auto auto;
  row-gap: 60px;
  column-gap: 70px;
}
.card-wrapper {
  position: relative;
  width: 368px;
  display: flex;
  flex-direction: column;
}
.card-wrapper p {
  cursor: pointer;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  justify-content: space-between;
  padding: 8px 24px 8px 24px;
  border-radius: 0px 0px 10px 10px;
  font-family: var(--font-family-reg);

  color: aliceblue;
  background-color: #36794f8c;
}
.home-card-p-r {
  font-style: italic;
}
.home-link {
  font-family: var(--font-family-med);
  font-size: 18px;

  line-height: 22px;

  text-align: left;

  margin-right: 68px;
  margin-top: 28px;
  margin-bottom: 115px;
  text-align: right;
}
.home-link a {
  font-size: var(--size-18);
  font-family: var(--font-family-med);
  color: #01601b;
}
.card-wrapper img {
  border-radius: 10px 10px 0px 0px;
}
.card-wrapper button {
  cursor: pointer;
  font-family: var(--font-family-med);
  font-size: 19px;
  border-radius: 10px;
  border: none;
  line-height: 23px;
  opacity: 0;
  color: #0f6845;
  background-color: #ffffff;
  padding: 14px 40px 14px 40px;
  position: absolute;
  left: 30%;
  top: 194px;
}
.card-wrapper:hover.card-wrapper button {
  opacity: 1;
}
.card-wrapper:hover.card-wrapper p {
  background-color: #36794f;
}
.card-wrapper:hover.card-wrapper img {
  opacity: 50%;
}
.home-blog-title {
  font-family: var(--font-family-med);
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 29.3px;
}
.home-blog-cards {
  align-items: flex-start;
  gap: 29px;
  display: flex;
}
.home-blog-wrapper {
  width: 674px;
}
.home-blog-wrapper img {
  border-radius: 10px 10px 0px 0px;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.home-link-1 {
  font-family: var(--font-family-med);
  font-size: 18px;

  line-height: 22px;

  text-align: left;

  margin-right: 68px;
  margin-top: 56px;
  margin-bottom: 115px;
  text-align: right;
}

.home-blog-card-footer p {
  font-family: var(--font-family-light);
  font-size: 18px;

  line-height: 20px;
  letter-spacing: 0.04em;
}
.home-blog-card-footer {
  display: flex;
  flex-direction: column;
  padding: 20px 83px 14px 10px;
  border: none;
  border-radius: 0px 0px 10px 10px;
  box-shadow: 0px 2px 13px 1px #d1d1d14f;
}
.home-link-1 a {
  font-size: var(--size-18);
  font-family: var(--font-family-med);
  color: #01601b;
}
.home-blog-card-footer h2 {
  font-family: var(--font-family-med);
  font-size: 24px;
  color: #000000;
  margin-bottom: 32px;
  line-height: 29px;

  text-align: left;
}
.home-footer {
  position: relative;
  display: flex;
  gap: 50px;
  margin-bottom: 195px;
}
.home-footer img {
  border-radius: 0px 0px 200px;
}
.Plant-Accessories-p {
  position: absolute;
  left: 45%;
  top: 145px;
  font-family: var(--font-family-reg);
  font-size: 20px;

  line-height: 24px;

  height: 389px;
  width: 744px;
  border-radius: 16px;
  padding: 94px 125px 100px 108px;
  background-color: #ecf1ee;
  box-shadow: 10px 23px 29px 14px #d7f2e133;
}
.Plant-Accessories-p-1 {
  margin-bottom: 20px;
}
.Plant-Accessories-title {
  font-family: var(--font-family-med);
  font-size: 36px;
  line-height: 44px;
  text-align: center;
}
footer {
  color: #ffffff;
  background-color: #255338;
}
.footer-section {
  padding: 36px 44px 21px 71px;
  display: grid;
  grid-template-areas: "logo list1 list2  ";
  grid-template-columns: minmax(0px, 2fr) repeat(3, minmax(0, 1fr));
}
.social-icons {
  cursor: pointer;
  display: flex;
  gap: 26px;
}
.policy-list {
  font-family: var(--font-family-reg);
  display: flex;
  gap: 20px;
  justify-content: flex-end;
  border-top: 1px solid #ffffff;
  padding: 23px 61px 21px 0px;
}
.policy-list a {
  text-decoration: none;
  color: #ffffff;
}
.footer-nav-list-title {
  font-family: var(--font-family-bold);
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 17px;
}
.footer-nav-list li {
  margin-bottom: 6px;
  font-family: var(--font-family-reg);
}
.footer-nav-list li a {
  font-size: var(--size-18);
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
}
.footer-form {
  margin: 21px 0px 50px 0px;
}
.footer-form input {
  background-color: #255338;
  border: none;
  padding-right: 67px;
  outline: none;
}
.footer-form input::placeholder {
  font-family: var(--font-family-med);
  color: #ffffff;
}
.footer-form button {
  cursor: pointer;
  border: none;
  background-color: #255338;
}
.footer-form {
  padding: 19px 19px 27px 15px;
  border-radius: 10px;
  border: 1px solid #ffffff;
  height: 50px;
  width: 307px;
}
.logo-footer p {
  font-family: var(--font-family-med);
}
.footer-title-logo {
  cursor: pointer;
  font-size: 30px;
  font-family: var(--font-family-bold);
  line-height: 37px;
  margin-bottom: 86px;
}

.title-White {
  font-family: "manrope-semibold";
  font-size: 30px;

  line-height: 41px;

  margin-bottom: 86px;
}
.contact-page-img {
  background-image: url(../img/annie-spratt-contact-page.png);
  padding: 22px 19px 21px 19px;
}
.contact-page-img-cover {
  padding-top: 28px;
  padding-bottom: 60px;
  color: #ffffff;
  background-color: #01601b80;
}
.contact-page-img-cover h1 {
  margin: 0px 0px 110px 0px;
  text-align: center;
  font-family: var(--font-family-bold);
  font-size: 30px;
  line-height: 37px;
}
.contact-page-icons-span {
  display: flex;
  justify-content: space-around;
  margin-bottom: 225px;
}
.contact-page-icons-span div {
  font-family: var(--font-family-med);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}
.contact-forms form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr 1fr 2fr;
  column-gap: 119px;
  row-gap: 52px;
}
.contact-forms form .textarea {
  grid-column: 1/3;
}
.contact-forms form textarea {
  border-radius: 12px;
  margin-top: 11px;
  resize: none;
}
.contact-forms label {
  font-family: var(--font-family-med);
  display: flex;
  flex-direction: column;
}
.contact-forms label input {
  padding: 15px 0px 15px 0px;
  border: none;
  margin-top: 11px;
  border-radius: 12px;
}
.contact-forms {
  max-height: 469px;
  width: 707px;
  border-radius: 12px;
  margin: auto;
}
.contact-map-title {
  font-family: var(--font-family-bold);
  font-size: 30px;
  text-align: center;
  line-height: 37px;
  margin-top: 69px;
  margin-bottom: 55px;
}
.contact-iframe {
  margin: auto;
  height: 578px;
  width: 1043px;

  text-align: center;
  padding: 63px 82px 63px 83px;
  border: 1px solid #01601b;
  margin-bottom: 97px;
}
.contact-iframe iframe {
  height: 451px;
  width: 877px;
}
